{% extends "base.html.twig" %}
{% block head %}
    {% block stylesheets  %}
        {{ parent() }}
        <link rel="stylesheet" href="/css/katalog.css">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="user">
        <div class="user__naming">
            <p class="user__naming_overflow">{{ user.getSecondName() ~ " " ~ user.getFirstName() }}</p>
            <p class="user__naming_overflow">{{ user.getEmail() }}</p>
        </div>
        {% if user.getAvatarPath() is null %}
            <img class="user__avatar_size" src="/uploads/images/camera.png" alt="camera">
        {% else %}
            <img class="user__avatar_size" src="/uploads/avatars/{{ user.getAvatarPath() }}" alt="{{ user.getAvatarPath() }}">
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <main class="main__katalog_display">
        <h2 class="subtitle">Ассортимент</h2>
        <div class="assortiment">
            {% for pizza in pizzas %}
                <div class="card">
                    <div>
                        <img class="card__img" src="/uploads/images/{{ pizza.getPizzaImgPath() }}" alt="{{ pizza.getPizzaImgPath() }}">
                        <p class="card__title">{{ pizza.getTitle() }}</p>
                        <p class="card__subtitle">{{ pizza.getSubTitle() }}</p>
                    </div>
                    <div class="card__order">
                        <div class="card__prices">
                            <p class="card__price">{{ pizza.getPrice() ~ " ₽" }}</p>
                            {% if pizza.getLastPrice() is not null %}
                                <p class="card__last-price">{{ pizza.getLastPrice() ~ " ₽" }}</p>
                            {% endif %}
                        </div>
                        <a class="card__buy" href="/order/{{ pizza.getPizzaId() }}">Купить</a>
                    </div>
                    {% if user.getRole() == 1 %}
                        <form action="/pizza/del" method="POST">
                            <input type="hidden" name="pizza_id" value="{{ pizza.getPizzaId() }}">
                            <input class="submit" type="submit" value="Удалить">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if user.getRole() == 1 %}
            <form class="main-form" enctype="multipart/form-data" action="/pizza/publish" method="POST">
                <h3 class="subtitle-form">Добавить пиццу</h3>
                <p class="labels">Название</p>
                <input id="adress" class="input__size" type="text" name="title" required/>
                <p class="labels">Описание</p>
                <input id="number_card" class="input__size" type="text" name="subtitle" required/>
                <p class="labels">Старая цена</p>
                <input id="number_back_card" class="input__size" type="text" name="price" required/>
                <p class="labels">Новая цена</p>
                <input id="number_back_card" class="input__size" type="text" name="last_price" required/>
                <p id="avatarImg" class="labels">Картинка</p>
                <input type="file" name="pizza_image" accept="image/jpeg, image/png" required/>
                <div class="block__submit">
                    <input class="submit" type="submit" value="Добавить">
                </div>
            </form>
        {% endif %}
    </main>
{% endblock %}