{% extends "base.html.twig" %}
{% block head %}
    {% block stylesheets  %}
        {{ parent() }}
        <link rel="stylesheet" href="/css/order.css">
    {% endblock %}
    <title>{% block title %}{{title}}{% endblock %}</title>
{% endblock %}
{% block header %}
    {{ parent() }}
    <div class="user">
        <div class="user__naming">
            <p class="user__naming_overflow">{{ user.getSecondName() ~ " " ~ user.getFirstName() }}</p>
            <p class="user__naming_overflow">{{ user.getEmail() }}</p>
        </div>
        {% if user.getAvatarPath() is null %}
            <img class="user__avatar_size" src="/uploads/images/camera.png" alt="camera">
        {% else %}
            <img class="user__avatar_size" src="/uploads/avatars/{{ user.getAvatarPath() }}" alt="{{ user.getAvatarPath() }}">
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <main class="main__order_display">
        <h2 class="subtitle">Оформление заказа</h2>
        <div class="assortiment">
            <div class="card">
                <div>
                    <img class="card__img" src="/uploads/images/{{ pizza.getPizzaImgPath() }}" alt="{{ pizza.getPizzaImgPath() }}">
                    <p class="card__title">{{ pizza.getTitle() }}</p>
                    <p class="card__subtitle">{{ pizza.getSubTitle() }}</p>
                </div>
                <div class="card__order">
                    <div class="card__prices">
                        <p class="card__price">Цена: {{ pizza.getPrice() ~ " ₽" }}</p>
                    </div>
                </div>
            </div>
            <form class="main-form" action="/order/make" method="POST">
                <h3 id="{{ pizza.getPizzaId() }}" class="subtitle-form">Информация о покупке</h3>
                <p class="labels">Адресс</p>
                <input id="adress" class="input__size" type="text" name="adress" required/>
                <p class="labels">Номер карты</p>
                <input id="number_card" class="input__size" type="text" name="number_card" required/>
                <p class="labels">Номер на обороте</p>
                <input id="number_back_card" class="input__size" type="text" name="number_back_card" required/>
                <p class="labels">Дата карты</p>
                <input id="date_card" class="input__size" type="text" name="date_card" required/>
                <div class="block__submit">
                    <input class="submit" type="submit" value="Заказать">
                </div>
            </form>
        </div>
    </main>
    {# <script src="/js/order.js"></script> #}
{% endblock %}